/*
  timelineContainerCards e timelineCard devem ser utilizados juntos
  timelineContainerCards: o container (ul)
  timelineCard: os filhos (li)
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html body {
  font-family: "Arvo", serif;
}
html body .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  background-color: #18181B;
  min-height: 7rem;
  height: 5rem;
  position: fixed;
  inset: 0;
}
html body .main-header .header-container {
  max-width: 144rem;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html body .main-header .header-container > h1 {
  cursor: pointer;
}
html body .main-header .header-container .mobile-ver .ph-list-bold {
  font-size: 4.8rem;
  color: #FFFFFF;
  cursor: pointer;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu {
  height: 95vh;
  background-color: rgba(24, 24, 27, 0.9);
  position: fixed;
  inset: 0;
  top: 5rem;
  display: none;
  opacity: 0;
  visibility: hidden;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu.visible {
  display: block;
  opacity: 1;
  visibility: visible;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu .mobile-nav {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu .mobile-nav > ul {
  text-align: center;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu .mobile-nav > ul > li {
  font-weight: bold;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu .mobile-nav > ul > li > a {
  font-size: 2.4rem;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu .mobile-nav > ul > li:not(:last-child) {
  margin-bottom: 2rem;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu .mobile-nav .close-modal {
  width: 9.7rem;
  margin: 0 auto;
  background: none;
  border: none;
}
html body .main-header .header-container .mobile-ver .mobile-modal-menu .mobile-nav .close-modal .ph-x-circle-fill {
  color: #FFFFFF;
  font-size: 9.7rem;
}
@media (min-width: 768px) {
  html body .main-header .header-container .mobile-ver {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}
html body .main-header .header-container .desktop-ver {
  display: none;
  opacity: 0;
  visibility: hidden;
}
@media (min-width: 768px) {
  html body .main-header .header-container .desktop-ver {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  html body .main-header .header-container .desktop-ver > nav > ul {
    display: flex;
  }
  html body .main-header .header-container .desktop-ver > nav > ul > li:not(:last-child) {
    margin-right: 2.5rem;
  }
}
@media (min-width: 768px) {
  html body .main-header .header-container {
    padding: 0 3.2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

p,
small,
span {
  font-family: "Arvo", serif;
  font-weight: normal;
}

button {
  cursor: pointer;
}

a {
  color: #FFFFFF;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

/*# sourceMappingURL=global.css.map */
