/*
  timelineContainerCards e timelineCard devem ser utilizados juntos
  timelineContainerCards: o container (ul)
  timelineCard: os filhos (li)
*/
main .sobre-nos-card {
  min-height: 33.9rem;
  background: url(../../img/lp-sobrenos-bg-mobile.svg) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.8rem 4.5rem;
}
@media (min-width: 768px) {
  main .sobre-nos-card {
    background: url(../../img/lp-sobrenos-bg.svg) no-repeat center;
    background-size: cover;
    justify-content: center;
    padding: 0;
  }
}
main .sobre-nos-card > h2 {
  font-size: clamp(1.8rem, 2.5vw, 3.6rem);
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.505);
  font-weight: 900;
  color: #FFFFFF;
  line-height: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  main .sobre-nos-card > h2 {
    margin-bottom: 2.5rem;
  }
}
main .sobre-nos-card .default-light-button {
  min-height: 4.5rem;
  border-radius: 3.2rem;
  border: none;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  width: min(90%, 27.8rem);
  height: 4.5rem;
}
@media (min-width: 1024px) {
  main .sobre-nos-card {
    height: 50rem;
  }
}
main .guia-novo-convertido .section-container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  margin-top: 5rem;
}
main .guia-novo-convertido .section-container h2 {
  line-height: 3.5rem;
  font-size: clamp(3.2rem, 3vw, 7.2rem);
  color: #000000;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  main .guia-novo-convertido .section-container h2 {
    text-align: start;
  }
}
main .guia-novo-convertido .section-container p {
  line-height: 2.4rem;
  font-size: clamp(1.4rem, 2vw, 2rem);
  max-width: 80rem;
}
@media (min-width: 768px) {
  main .guia-novo-convertido .section-container p {
    line-height: 3.6rem;
  }
}
main .guia-novo-convertido .section-container button {
  min-height: 4.5rem;
  border-radius: 3.2rem;
  border: none;
  background-color: #EA7E0B;
  color: #FFFFFF;
  transition: background-color 0.15s;
  font-size: 2.4rem;
  width: 100%;
  margin-top: 2rem;
}
main .guia-novo-convertido .section-container button:hover {
  background-color: #F8B063;
}
@media (min-width: 768px) {
  main .guia-novo-convertido .section-container button {
    max-width: 28.8rem;
  }
}
@media (min-width: 768px) {
  main .guia-novo-convertido .section-container {
    margin-top: 10rem;
  }
}
@media (min-width: 768px) {
  main .guia-novo-convertido {
    padding: 0 3.2rem;
  }
}
main .cronograma-semana {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  margin: 3.5rem auto;
}
main .cronograma-semana h2 {
  line-height: 3.5rem;
  font-size: clamp(3.2rem, 3vw, 7.2rem);
  color: #000000;
  text-align: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  main .cronograma-semana h2 {
    text-align: start;
  }
}
main .cronograma-semana p {
  line-height: 2.4rem;
  font-size: clamp(1.4rem, 2vw, 2rem);
  max-width: 80rem;
}
@media (min-width: 768px) {
  main .cronograma-semana p {
    line-height: 3.6rem;
  }
}
@media (min-width: 768px) {
  main .cronograma-semana .section-container > h2 {
    margin-bottom: 5rem;
  }
}
main .cronograma-semana .section-container .culto-dias {
  display: grid;
  grid-template-columns: repeat(5, 28rem);
  column-gap: 3rem;
  overflow-x: auto;
}
@media (min-width: 768px) {
  main .cronograma-semana .section-container .culto-dias {
    grid-template-columns: repeat(5, 40rem);
  }
}
main .cronograma-semana .section-container .culto-dias .culto-dia {
  display: flex;
  align-items: flex-end;
  align-content: center;
  padding: 0 1.6rem;
  width: 28rem;
  height: 28rem;
  background-color: #EA7E0B;
  color: #FFFFFF;
  list-style-type: none;
  border-radius: 3rem;
}
main .cronograma-semana .section-container .culto-dias .culto-dia article {
  width: 100%;
  font-size: 2.4rem;
}
main .cronograma-semana .section-container .culto-dias .culto-dia article h3 {
  font-size: 1em;
}
@media (min-width: 768px) {
  main .cronograma-semana .section-container .culto-dias .culto-dia article h3 {
    font-size: 1.75em;
  }
}
main .cronograma-semana .section-container .culto-dias .culto-dia article p {
  font-size: 2.4rem;
  font-family: "Inter", sans-serif;
}
@media (min-width: 768px) {
  main .cronograma-semana .section-container .culto-dias .culto-dia article p {
    font-size: 1.25em;
  }
}
main .cronograma-semana .section-container .culto-dias .culto-dia button {
  min-height: 4.5rem;
  border-radius: 3.2rem;
  border: none;
  background-color: #FFFFFF;
  font-size: 1.6rem;
  width: 100%;
  margin: 0.5rem auto 1.5rem;
}
@media (min-width: 768px) {
  main .cronograma-semana .section-container .culto-dias .culto-dia button {
    margin: 3.5rem auto 2.5rem;
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) {
  main .cronograma-semana .section-container .culto-dias .culto-dia {
    width: 40rem;
    height: 40rem;
  }
}
@media (min-width: 768px) {
  main .cronograma-semana {
    margin: 12.5rem auto 5rem;
  }
}

/*# sourceMappingURL=landingPage.css.map */
