@use '../../../assets/styles/scss/colors';
@use '../../../assets/styles/scss/utils';

main {
  .playlist-options-container {
    height: calc(100vh - 7rem);
    @include utils.maxSizeContainer();

    > span {
      display: block;
      max-width: 80rem;
      font-size: clamp(1.6rem, 3vw, 2rem);
      padding:  0 0.8rem;
      line-height: 3.6rem;
      margin-top: 1.6rem;

    }

    .playlist-options-list {
      list-style-type: none;
      margin-top: 2.5rem;
      padding-bottom: 2.5rem;

      .playlist-option {
        @media (min-width: 1024px) {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
        }
        

       &:last-child {
        margin-top: 2.5rem;
       }
       
       > article {
        > h2 {
          text-align: center;
          font-size: clamp(3.2rem, 3vw, 7.2rem);
          margin-bottom: 1.7rem;
  
          @media (min-width: 768px) {
            text-align: inherit;
          }
       }
       }

        .platform-card {
          width: min(90%, 27.6rem);
          height: 25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          border-radius: 3rem;
          cursor: pointer;

          @media (min-width: 768px) {
            height: 37.5rem;
            margin: 0;
          }

          &.youtube {
            background-color:colors.$red-youtube ;
          }

          &.spotify {
            background-color:colors.$green-spotify ;
          }
        }

        > iframe {
          @include utils.hideContent();

          @media (min-width: 1024px) {
            @include utils.showContent();
          }
        }
      }
    }
  }
}