@use "assets/styles/scss/colors";
@use "assets/styles/scss/buttons";

main {
  .speaker-section {
    margin: 2rem 0 ;
    padding: 0;
     .speaker {
      text-align: center;
    }

    .speaker-container {
      .speaker-img {
        width: min(100%, 40rem);
        display: block;
        margin: 0 auto -0.1rem;

        @media(min-width: 768px) {
          width: 30rem;
          margin: 0 auto -18.25rem;
        }
        @media(min-width: 1024px) {
          width: 45rem
        }
      }

      .speaker-info {
        padding: 6.4rem 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 30rem;
        background-color: colors.$dark-bg;
        color: colors.$light-text;

        @media (min-width: 768px) {
          height: 37.5rem;
          justify-content: end;
        }

        @media (min-width: 1024px) {
          height: 52.5rem;
          justify-content: center;
        }

        .speaker-text-container {
          text-align: center; 
         
          @media (min-width: 1024px) {
            margin-top: 5rem;
  
          }
          .speaker-description {
            font-family: "Inter", sans-serif;
            color: #d9d9d9;
            max-width: 60rem;
            margin: 0 auto 1.2rem;
          }
        }

        

        .speaker-redirector-button {
          @include buttons.lightButton();
          width: min(90%, 27rem);
          margin-inline:  auto;
        }
        
      }
    }
  }
}