@use "assets/styles/scss/colors";
@use "assets/styles/scss/utils";
@use "assets/styles/scss/buttons";

main {
  .guia-novo-convertido {
    @include utils.maxSizeContainer();

    .section-container {
      margin: 5rem auto;

      button {
        @include buttons.brandButton();
        width: 100%;
        margin-top: 2rem;
      }

      @media (min-width: 1024px) {
        margin: 7.5rem 0;
      }
    }
  }
}
