@use "../../../assets/styles/scss/utils";

main {
  .departments-container {
    @include utils.maxSizeContainer();
    margin: 2.5rem auto;

    @media (min-width: 768px) {
      margin: 5rem auto;
    }


    .departments-list {
      display: grid;
      grid-template-columns: repeat( 6, 28rem);
      height: 35rem;
      column-gap: 3rem;
      overflow-x: auto;
      
      
      @media (min-width: 768px) {
        height: auto;
        display: flex;
        gap: 3rem;
        
        flex-wrap: wrap;
      }
    }
  }
}