//CORES PRIMARIAS
$brand: #EA7E0B;
$brand-hover: #d47004;
//CORES NEUTRAS
$white: #FFFFFF;
$white-hover: #d6d6d6;
$black: #000000;
$dark-bg: #18181B;
$dark-bg-90: rgba(#18181B, 0.9);
//LINKS
$link: #5B618A;
$link-visited: #5B507A;
//TEXTOS
$text: #393939;
$light-text: #f0f0f0;
$text-shadow: rgba(0, 0, 0, 0.505);
//CARDS DAS PLATAFORMAS DE MÚSICA
$red-youtube: rgba(#FF0707, 0.2);
$green-spotify: rgba(#65FF07, 0.2);