@use "colors";
@use "utils";

//display config
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  body {
    font-family: "Arvo", serif;

  }
}

//texts config
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

p,
small,
span {
  font-family: "Arvo", serif;
  font-weight: normal;
  font-size: clamp(1.4rem ,2.5vw, 1.8rem);
  padding: 0 0.8rem;
}

//buttons config

button {
  cursor: pointer;
}


//links config
a {
  color: colors.$white;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}
