@use "../../../../assets/styles/scss/buttons";

@mixin socialMediaButton {
  width: 25rem;
  margin: 2rem auto 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  .facebook-button {
    @include buttons.brandButton;
    background-color: #4267b3;
    @include socialMediaButton();
  }

  .youtube-button {
    @include buttons.brandButton;
    background-color: #ff0000;
    @include socialMediaButton();
  }

  .facebook-button,
  .youtube-button {
    .redirector-link {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}
