@use "../../../assets/styles/scss/colors";
@use "../../../assets/styles/scss/utils";

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  background-color: colors.$dark-bg;
  box-shadow: 0px 0px 2rem colors.$dark-bg ;
  min-height: 7rem;
  height: 5rem;
  position: sticky;
  inset: 0;

  .header-container {
    @include utils.maxSizeContainer();
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    > h1 {
      cursor: pointer;
    }

    @media (min-width: 768px) {
      padding: 0 3.2rem;
    }
  }
}