@use "../../../assets/styles/scss/colors";
@use "../../../assets/styles/scss/utils";

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$dark-bg;
  box-shadow: 0px 0px 1rem colors.$dark-bg ;
  min-height: 7rem;
  position: sticky;
  inset: 0;
  z-index: 999;

  .header-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      @include utils.maxSizeContainer();
    }
    
    > h1 {
      cursor: pointer;
    }

   
  }
}